<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Unit Converter</title>
  </head>
  <body>
    <header>
    <h1 style="text-align: center;">Unit Converter</h1>
    <h2 style="text-align: center;"><span style="color: #ff0000;">CLICK UNIT TO START CONVERT</span></h2>
    <p>&nbsp;</p>
    <div style="display: flex; justify-content: space-between; padding: 20px;">
        <a href="/length" 
        style="margin-left: 30%; font-size: 25px; color: black; text-decoration: none; cursor: pointer;"
        onmouseover="this.style.color='blue'; this.style.textDecoration='underline';"
        onmouseout="this.style.color='black'; this.style.textDecoration='none';">
       Length
     </a>
     <a href="/weight" 
        style="text-align: center; font-size: 25px; color: black; text-decoration: none; cursor: pointer;"
        onmouseover="this.style.color='blue'; this.style.textDecoration='underline';"
        onmouseout="this.style.color='black'; this.style.textDecoration='none';">
       Weight
     </a>
     <a href="/temperature" 
        style="margin-right: 30%; font-size: 25px; color: black; text-decoration: none; cursor: pointer;"
        onmouseover="this.style.color='blue'; this.style.textDecoration='underline';"
        onmouseout="this.style.color='black'; this.style.textDecoration='none';">
       Temperature
     </a>
      </div>
    </header>
  </body>
</html>