<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %} Temperature Converter {% endblock %}

{% block content %}
<form action="#" method="post">
    <p>Value: <input type="number" name="temperature" required></p>
    <p>From what unit: 
        <select name="from_unit" required>
            <option value="" disabled selected>Select a unit</option>
            <option value="Celsius">°C</option>
            <option value="Fahrenheit">°F</option>
            <option value="Kelvin">K</option>


        </select>
    </p>
    <p>To what unit: 
        <select name="to_unit" required>
            <option value="" disabled selected>Select a unit</option>
            <option value="Celsius">°C</option>
            <option value="Fahrenheit">°F</option>
            <option value="Kelvin">K</option>
        </select>
    </p>
    <p><button type="submit">Convert</button></p>
</form>
    {% if result %}
        <p>Converted Temperature: {{ result }} {{ to_unit_unit }}</p>
    {% endif %}
{% endblock %}

{% block button %}
Home
{% endblock %}
